/* Default styles for larger screens (Laptops, Desktops) */
body {
  font-size: 18px;
  padding: 20px;
}

/* Styles for tablets */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 15px;
  }
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}
